/dev/null                 0666   root       root
/dev/zero                 0666   root       root
/dev/full                 0666   root       root
/dev/ptmx                 0666   root       root
/dev/tty                  0666   root       root
/dev/random               0666   root       root
/dev/urandom              0666   root       root
# Make HW RNG readable by group system to let EntropyMixer read it.
/dev/hw_random            0660   system     system
/dev/ashmem               0666   root       root
/dev/binder               0666   root       root

# Anyone can read the logs, but if they're not in the "logs"
# group, then they'll only see log entries for their UID.
/dev/log/*                0666   root       log

# the DIAG device node is not world writable/readable.
/dev/diag                 0660   system     qcom_diag

# these should not be world writable
/dev/android_adb          0660   adb        adb
/dev/uhid                 0660   system     net_bt_stack
/dev/uinput               0660   system     net_bt_stack
/dev/alarm                0664   system     radio
/dev/graphics/*           0660   system     graphics
/dev/input/*              0660   root       input
/dev/oncrpc/*             0660   root       system
/dev/snd/*                0660   system     audio
/dev/msm_camera/*         0660   system     camera
/dev/msm_pcm_out*         0660   system     audio
/dev/msm_pcm_in*          0660   system     audio
/dev/msm_mp3*             0660   system     audio
/dev/mtp_usb              0660   root       mtp
/dev/usb_accessory        0660   root       usb
/dev/tun                  0660   system     vpn

# CDMA radio interface MUX
/dev/ppp                  0660   radio      vpn

# sysfs properties
/sys/devices/virtual/input/input*   enable      0660  root   input
/sys/devices/virtual/input/input*   poll_delay  0660  root   input

/sys/devices/system/cpu/cpufreq interactive/boost  0664    system  system
/sys/devices/system/cpu/cpufreq interactive/boostpulse  0664    system  system
/sys/devices/system/cpu/cpufreq interactive/boostpulse_duration  0664    system  system
/sys/devices/system/cpu/cpufreq interactive/timer_rate  0664    system  system
/sys/devices/system/cpu/cpufreq interactive/min_sample_rate 0664    system  system
/sys/devices/system/cpu/cpufreq interactive/min_sample_time 0664    system  system
/sys/devices/system/cpu/cpufreq interactive/sampling_down_factor 0664    system  system
/sys/devices/system/cpu/cpufreq interactive/sync_freq 0664    system  system
/sys/devices/system/cpu/cpufreq interactive/target_loads 0664    system  system
/sys/devices/system/cpu/cpufreq interactive/hispeed_freq    0664    system  system
/sys/devices/system/cpu/cpufreq interactive/go_hispeed_load 0664    system  system
/sys/devices/system/cpu/cpufreq interactive/above_hispeed_delay 0664    system  system
/sys/devices/system/cpu/cpufreq interactive/io_is_busy      0664    system  system
/sys/devices/system/cpu/cpufreq interactive/timer_slack      0664    system  system
/sys/devices/system/cpu/cpufreq interactive/up_threshold_any_cpu_freq      0664    system  system
/sys/devices/system/cpu/cpufreq interactive/up_threshold_any_cpu_load      0664    system  system

/sys/devices/system/cpu/cpu* cpufreq/scaling_max_freq   0664    system  system
/sys/devices/system/cpu/cpu* cpufreq/scaling_min_freq   0664    system  system
/sys/devices/system/cpu/cpu* cpufreq/scaling_governor   0664    system  system
